// ============================================================================
//                 NAVBAR [ALRGE]
// ============================================================================

.banner {
    position: relative;
    &-bg {
        @media(max-width: 320px) {
            height: 700px;
        }
        height:100vh;
        @include mq('xll') {
            height: 80vh;
        }
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &-content {
        article {
            width: 90%;
            max-width: 600px;
            position: absolute;
            top: 130px;
            left: 22px;
            @include mq('md') {
                width: 100%;
                left: initial;
            }
            @include mq('xll') {
                top: 115px;
            }
            h1 {
                font-size: em(34px);
                line-height: (42px/34px);
                @include mq('md') {
                    font-size: em(42px);
                    line-height: (48px/42px);
                }
                span {
                    font-weight: $font-weight--xs;
                }
            }
            h2 {
                font-size: em(19px);
                margin-top: em(20px, 18px);
                position: relative;
                @include p-el('after', 42px, 2px) {
                    background-color: $color--seconary;
                    display: inline-block;
                    top: 14px;
                    margin-left: 6px; 
                }
            }
            p {
                font-size: em(18px);
                line-height: (32px/18px);
                @include mq('xll') {
                   font-size: em(28px)
                }
            }
            .btn {
                @extend %top-20;
            }
        }
    }
}