// ================================================================
// SRV_AGREEMENT
// ================================================================

#agreement {
    padding: 50px 0px;
    background-color: $light-blue;
}

.agreement {
    @include e('certificate') {
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        p {
            text-align: justify;
            margin-bottom: 12px;
        }
        h4 {
            margin: 15px 0px;
        }
        strong {
            font-weight: $font-weight--md;
            font-size: em(15px);
        }
        address {
            margin-bottom: 20px;
        }
    }
}